<div class="card">
    <div class="card-header">
        <i class="fas fa-user-md"></i> Navegação
    </div>
    <div class="card-block">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Perfil</a></li>
            <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Trocar Senha</a></li>
        </ul>
    </div>
</div>