@page
@model ChangePasswordModel

@{
    ViewData["Title"] = "Trocar senha";
}

<main class="main">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item">
            @ViewData["Title"]
        </li>
    </ol>
    <div class="container-fluid">
        <div id="ui-view" style="opacity: 1;">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-lg-6 offset-lg-3">
                        <div class="card">
                            <div class="card-header">
                                <i class="fas fa-user-md"></i> Trocar senha
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <form id="changePasswordForm" method="post">
                                            <div class="form-group">
                                                <label asp-for="Input.OldPassword"></label>
                                                <div class="input-group mt-2">
                                                    <input asp-for="Input.OldPassword" type="password" class="form-control" placeholder="Senha">
                                                    <i class="eye-password fas fa-eye-slash eyePassword"></i>
                                                </div>
                                                <span asp-validation-for="Input.OldPassword" class="text-danger ml-5"></span>
                                            </div>

                                            <div class="form-group">
                                                <label asp-for="Input.NewPassword"></label>
                                                <div class="input-group mt-2">
                                                    <input asp-for="Input.NewPassword" type="password" class="form-control" placeholder="Senha">
                                                    <i class="eye-password fas fa-eye-slash eyePassword"></i>
                                                </div>
                                                <span asp-validation-for="Input.NewPassword" class="text-danger ml-5"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Input.ConfirmPassword"></label>
                                                <div class="input-group mt-2">
                                                    <input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="Senha">
                                                    <i class="eye-password fas fa-eye-slash eyePassword"></i>
                                                </div>
                                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger ml-5"></span>
                                            </div>
                                            <button type="submit" class="btn btn-primary float-right">
                                                Atualizar senha
                                                <span id="submitSpinner" class="fa fa-spinner fa-pulse" style="display: none;"></span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/col-->

            </div>
            <!--/row-->

        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>

@section Scripts {
    <environment names="Development">
        <partial name="_ValidationScriptsPartial" />
        <script src="~/js/change-password.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/dist/js/change-password.min.js" asp-append-version="true"></script>
    </environment>

}