@model RVCC.Models.FormModel.AuxiliarAccessoryTypeFormModel

<form id="addAuxiliarAccessoryTypeForm" asp-action="AddAuxiliarAccessoryType" method="post" >

    <div class="modal-body form-horizontal">
        <partial name="Partials/_FormAuxiliarAccessoryType" />
    </div>

    <partial name="_ModalFooter"  />
</form>
