@model RVCC.Models.FormModel.EditUserFormModel

<form id="editUserForm" asp-action="EditUser" method="post">

    <div class="modal-body form-horizontal">
        <input asp-for="UserId" />
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Role" class="control-label"></label>
            <select asp-for="Role" asp-items="Model.ApplicationRoles" class="form-control">
                <option value=""></option>
            </select>
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>
    </div>

    <partial name="_ModalFooter" />

</form>
