@model LigaCancer.Models.MedicalViewModels.CancerTypeViewModel

<form asp-action="AddCancerType"
      role="form"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-failure="AjaxError"
      data-ajax-success="AjaxSuccess"
      data-ajax-loading="#submitSpinner">

    @await Html.PartialAsync("_ModalHeader", new ModalHeader { Heading = "Adicionar Tipo de Câncer" })
    <div class="modal-body form-horizontal">
        <h4>Tipo de Câncer</h4>
        <hr />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    @await Html.PartialAsync("_ModalFooter", new ModalFooter { })
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
