@model RVCC.Models.FormModel.TreatmentPlaceFormModel

<form id="addTreatmentPlaceForm"  asp-action="AddTreatmentPlace"
      role="form"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-failure="error"
      data-ajax-success="addSuccess"
      data-ajax-loading="#submitSpinner">

    <div class="modal-body form-horizontal">
        <partial name="Partials/_FormTreatmentPlace" />
    </div>

    <partial name="_ModalFooter"  />

</form>
