@model RVCC.Models.FormModel.TreatmentPlaceFormModel

<form id="editTreatmentPlaceForm"  asp-action="EditTreatmentPlace" method="post">

    <div class="modal-body form-horizontal">
        <partial name="Partials/_FormTreatmentPlace" />
    </div>

    <partial name="_ModalFooter"  />

</form>
