@model LigaCancer.Models.FormModel.TreatmentPlaceFormModel

<form id="editTreatmentPlaceForm"  asp-action="EditTreatmentPlace"
      role="form"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-failure="Error"
      data-ajax-success="EditSuccess"
      data-ajax-loading="#submitSpinner">

    <partial name="_ModalHeader" model='new ModalHeader { Heading = "Editar Cidade" }' />

    <div class="modal-body form-horizontal">
        <h4>Cidade</h4>
        <hr />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="City" class="control-label"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <input asp-for="TreatmentPlaceId" />
    </div>

    <partial name="_ModalFooter" model="new ModalFooter { }" />

</form>
