@model RVCC.Models.FormModel.TreatmentPlaceFormModel

<input asp-for="TreatmentPlaceId" />
<div class="form-group">
    <label asp-for="City" class="control-label"></label>
    <input asp-for="City" class="form-control" />
    <span asp-validation-for="City" class="text-danger"></span>
</div>
