@model RVCC.Models.FormModel.PatientInformationFormModel

<form id="addPatientInformationForm" asp-action="AddPatientInformation" method="post">

    <div class="progress m-3 progressAddPatient">
        <div class="progress-bar bg-success" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
    </div>

    <partial name="Partials/_PatientInformation" />

</form>
