@using RVCC.Business
@model RVCC.Models.FormModel.SocialObservationFormModel

<form id="addSocialObservationForm" asp-action="AddSocialObservation"
      role="form"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-failure="error"
      data-ajax-success="addSocialObservationSuccess"
      data-ajax-loading="#submitSpinner">

    <div class="modal-body">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="Observations" class="control-label"></label>
                
                @if (User.IsInRole(Roles.SocialAssistance))
                {
                    <textarea asp-for="Observations" rows="10" class="form-control"></textarea>
                }
                else
                {
                    <textarea asp-for="Observations" rows="10" class="form-control" disabled="disabled"></textarea>
                }

                <span asp-validation-for="Observations" class="text-danger"></span>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <button id="btn-cancel" type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        @if (User.IsInRole(Roles.SocialAssistance))
        {
            <button class="btn btn-primary" id="btn-submit" type="submit">
                Enviar
                <span id="submitSpinner" class="fa fa-spinner fa-pulse" style="display: none;"></span>
            </button>
        }
    </div>

</form>
