@model LigaCancer.Models.FormModel.ArchivePatientFormModel
@using LigaCancer.Code

<form id="archivePatientForm" asp-action="ArchivePatient"
      role="form"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-failure="error"
      data-ajax-success="archivePatientSuccess"
      data-ajax-loading="#submitSpinner">

    <div class="modal-body form-horizontal">
        <div class="form-group">
            <label asp-for="ArchivePatientType" class="control-label"></label>
            <select asp-for="ArchivePatientType" asp-items="Html.GetEnumSelectList<Globals.ArchivePatientType>()" class="form-control archiveSelect2" style="width: 100%"
                    data-theme="bootstrap"
                    data-language="pt-BR" 
                    data-placeholder="Motivo"
                    data-width="resolve"
                    data-minimum-results-for-search="Infinity" 
                    data-container-css-class="select2NoSearch"></select>
            <span asp-validation-for="ArchivePatientType"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateTime" class="control-label"></label>
            <input asp-for="DateTime" readonly type="text" asp-format="" class="form-control field-readonly" />
            <span asp-validation-for="DateTime"></span>
        </div>
    </div>
    
    <partial name="_ModalFooter"/>

</form>
