@model RVCC.Models.FormModel.PatientProfileFormModel

<form id="editPatientProfileForm" asp-action="EditPatientProfile"
        role="form"
        data-ajax="true"
        data-ajax-method="POST"
        data-ajax-failure="error"
        data-ajax-success="editProfileSuccess"
        data-ajax-loading="#submitSpinner">

    <partial name="Partials/_PatientProfile" />

</form>
