@model RVCC.Models.FormModel.PatientInformationFormModel

<form id="editPatientInformationForm" asp-action="EditPatientInformation" method="post" >

    <partial name="Partials/_PatientInformation"  />

</form>
