<div class="card">
    <div class="card-header" data-toggle="collapse" data-target="#patientBenefitCollapse" aria-expanded="true">
        <span class="fa fa-gift"></span>Benefícios

        <div class="card-header-actions">
            <a class="card-header-action btn-minimize" href="#">
                <span class="fa fa-minus"></span>
            </a>
        </div>
    </div>

    <div class="card-body collapse" id="patientBenefitCollapse">
        <table class="table table-bordered table-striped text-center" id="patientBenefitTable" aria-describedby="Tabela de beneficios do paciente"></table>
    </div>
</div>
