<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Arquivos
                <div class="card-header-actions">
                    <a asp-action="AddFileAttachment" asp-controller="FileAttachment" asp-route-id="Model.PatientId" class="card-header-action btn-setting" data-toggle="modal" data-target="#modal-action">
                        <i class="fa fa-plus"></i>
                    </a>
                    <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#attachmentsCollapse" aria-expanded="true">
                        <i class="fa fa-minus"></i>
                    </a>
                </div>
            </div>
            <div class="card-body collapse show" id="attachmentsCollapse">
                <table id="attachmentsTable" class="table table-bordered table-striped table-condensed text-center"></table>
            </div>
        </div>
    </div>
</div>
