@model RVCC.Models.FormModel.ServiceTypeFormModel

<form id="addServiceTypeForm" asp-action="AddServiceType" method="post" >

    <div class="modal-body form-horizontal">
        <partial name="Partials/_FormServiceType" />
    </div>

    <partial name="_ModalFooter"  />
</form>
