@using LigaCancer.Code
@{
    ViewData["Title"] = "Cidades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

<main class="main">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item">
            Cidades
        </li>
    </ol>
    <div class="container-fluid">
        <div id="ui-view" style="opacity: 1;">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-address-card-o"></i> Cidades
                            </div>
                            <div class="card-block">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <div class="btn-group">
                                            <a asp-action="AddTreatmentPlace" data-toggle="modal" data-target="#modal-action" class="btn btn-primary">
                                                <i class="fa fa-plus"></i> Adicionar Cidade
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <hr />

                                <table class="table table-bordered table-striped table-condensed text-center" id="treatmentPlaceTable"></table>

                            </div>
                        </div>
                    </div>
                    <!--/col-->

                </div>
                <!--/row-->

            </div>
        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>

<a id="linkDelete" asp-action="DeleteTreatmentPlace" data-toggle="modal" data-target="#modal-action"></a>
<a id="linkEdit" asp-action="EditTreatmentPlace" data-toggle="modal" data-target="#modal-action"></a>
<a id="linkAjaxDT" asp-action="GetTreatmentPlaceDataTableResponseAsync" asp-controller="TreatmentPlaceApi" data-toggle="modal" data-target="#modal-action"></a>

<partial name="_Modal" model='new BootstrapModel { Id = "modal-action", AreaLabeledId = "modal-action-label", Size = Globals.ModalSize.Medium }' />

@section scripts
    {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/treatmentPlace.js"></script>
}