@model LigaCancer.Models.FormViewModel.MedicineViewModel

<form asp-action="EditMedicine"
      role="form"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-failure="AjaxError"
      data-ajax-success="AjaxSuccess"
      data-ajax-loading="#submitSpinner">

    <partial name="_ModalHeader" model='new ModalHeader { Heading = "Editar Remédio" }' />

    <div class="modal-body form-horizontal">
        <h4>Remédio</h4>
        <hr />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="MedicineId" value="@Model.MedicineId" />
    </div>

    <partial name="_ModalFooter" model="new ModalFooter { }" />

</form>
