@using RVCC.Business
@model RVCC.Models.SearchModel.PhoneSearchModel

<div class="card">
    <div class="card-header" data-toggle="collapse" data-target="#phoneCollapse" aria-expanded="true">
        <span class="fa fa-male"></span>Telefones

        <div class="card-header-actions">
            <a class="card-header-action btn-minimize" href="#">
                <span class="fa fa-minus"></span>
            </a>
        </div>

    </div>

    <div class="card-body collapse" id="phoneCollapse">
        @if (!User.IsInRole(Roles.SocialAssistance))
        {

            <div class="form-inline float-right">
                <a id="addPhoneButton" asp-action="AddPhone" asp-controller="Phone" asp-route-id="@Model.PatientId" data-title="Adicionar Telefone" class="btn btn-primary"
                   data-toggle="modal" data-target="#modal-action">
                    <span class="fa fa-plus"></span> Adicionar Telefone
                </a>
            </div>
        }

        <table width="100%" class="table table-bordered table-striped text-center" id="phoneTable"></table>
    </div>
</div>
