@model LigaCancer.Models.FormModel.MedicineFormModel

<form id="addMedicineForm" asp-action="AddMedicine"
      role="form"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-failure="error"
      data-ajax-success="addSuccess"
      data-ajax-loading="#submitSpinner">

    <div class="modal-body">
        <input asp-for="MedicineId" />
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <partial name="_ModalFooter" />

</form>
