@model RVCC.Models.FormModel.MedicineFormModel

<form id="editMedicineForm" asp-action="EditMedicine" method="post" >

    <div class="modal-body">
        <partial name="Partials/_FormMedicine" />
    </div>

    <partial name="_ModalFooter" />

</form>
