@model LigaCancer.Models.FormModel.CancerTypeFormModel

<form id="addCancerTypeForm" asp-action="AddCancerType"
      role="form"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-failure="Error"
      data-ajax-success="AddSuccess"
      data-ajax-loading="#submitSpinner">

    <partial name="_ModalHeader" model='new ModalHeader { Heading = "Adicionar Tipo de Câncer" }' />
    <div class="modal-body form-horizontal">
        <h4>Tipo de Câncer</h4>
        <hr />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <partial name="_ModalFooter" model="new ModalFooter { }" />
</form>
