@model RVCC.Models.FormModel.CancerTypeFormModel

<form id="addCancerTypeForm" asp-action="AddCancerType" method="post" >

    <div class="modal-body form-horizontal">
        <partial name="Partials/_FormCancerType" />
    </div>

    <partial name="_ModalFooter"  />
</form>
