@model RVCC.Models.FormModel.CancerTypeFormModel

<form id="editCancerTypeForm" asp-action="EditCancerType" method="post" >
    
    <div class="modal-body form-horizontal">
        <partial name="Partials/_FormCancerType" />
    </div>

    <partial name="_ModalFooter"  />

</form>
