@model LigaCancer.Models.FormModel.CancerTypeFormModel

<form id="editCancerTypeForm" asp-action="EditCancerType"
      role="form"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-failure="error"
      data-ajax-success="editSuccess"
      data-ajax-loading="#submitSpinner">

    <div class="modal-body form-horizontal">
        <partial name="Partials/_FormCancerType" />
    </div>

    <partial name="_ModalFooter"  />

</form>
