@model RVCC.Models.FormModel.PatientBenefitFormModel

<form id="editPatientBenefitForm" asp-action="EditPatientBenefit" method="post" > 
    
    <div class="modal-body form-horizontal">
        
        <input asp-for="PatientIdHidden"/>
        <input asp-for="BenefitIdHidden"/>

        <div class="form-group">
            <label asp-for="PatientId" class="control-label"></label>
            <input asp-for="PatientId" class="form-control" value="@Model.PatientId" readonly=""/>
            <span asp-validation-for="PatientId" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <label asp-for="Benefit" class="control-label"></label>
            <input asp-for="Benefit" class="form-control" value="@Model.Benefit" readonly="" />
            <span asp-validation-for="Benefit" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Date" class="control-label label-required"></label>
            <input asp-for="Date" type="text" class="form-control" data-date-end-date="0d"/>
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Quantity" class="control-label label-required"></label>
            <input asp-for="Quantity" class="form-control"/>
            <span asp-validation-for="Quantity" class="text-danger"></span>
        </div>
    </div>

    <partial name="_ModalFooter"  />

</form>
