@model RVCC.Models.FormModel.AttendantFormModel

<form id="editAttendantForm" asp-action="EditAttendant" method="post" >

    <div class="modal-body form-horizontal">
        <partial name="Partials/_FormAttendant" />
    </div>

    <partial name="_ModalFooter"  />

</form>
