@using RVCC.Business
@model RVCC.Models.FormModel.FamilyMemberFormModel

<form id="addFamilyMemberForm" asp-action="AddFamilyMember" method="post">

    <div class="modal-body form-horizontal" id="">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Kinship" class="control-label"></label>
            <input asp-for="Kinship" class="form-control" />
            <span asp-validation-for="Kinship" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="DateOfBirth" class="control-label"></label>
            <input asp-for="DateOfBirth" type="text" class="form-control" id="dateOfBirth" />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Sex" class="control-label"></label>
            <select asp-for="Sex" asp-items="Html.GetEnumSelectList<Enums.Sex>()" class="form-control"></select>
            <span asp-validation-for="Sex" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="MonthlyIncome" class="control-label"></label>
            <input asp-for="MonthlyIncome" class="form-control" />
            <span asp-validation-for="MonthlyIncome" class="text-danger"></span>
        </div>

        <div class="form-group">
            <div class="form-row mt-2">
                <label class="switch switch-label switch-pill switch-success ml-2">
                    <input class="switch-input" asp-for="Responsible" />
                    <span class="switch-slider" data-checked="✓" data-unchecked="✕"></span>
                </label>
                <span class="ml-2">@Html.DisplayNameFor(model => model.Responsible)</span>
            </div>
        </div>

        <div class="form-group">
            <div class="form-row mt-2">
                <label class="switch switch-label switch-pill switch-success ml-2">
                    <input class="switch-input" asp-for="IgnoreOnIncome" />
                    <span class="switch-slider" data-checked="✓" data-unchecked="✕"></span>
                </label>
                <span class="ml-2">@Html.DisplayNameFor(model => model.IgnoreOnIncome)</span>
            </div>
        </div>
    </div>

    <partial name="_ModalFooter" />

</form>
