@model LigaCancer.Models.FormModel.FamilyMemberFormModel
@using LigaCancer.Code

<form id="editFamilyMemberForm" asp-action="EditFamilyMember"
      role="form"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-failure="error"
      data-ajax-success="editFamilyMemberSuccess"
      data-ajax-loading="#submitSpinner">

    <div class="modal-body form-horizontal" id="">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Kinship" class="control-label"></label>
            <input asp-for="Kinship" class="form-control" />
            <span asp-validation-for="Kinship" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateOfBirth" class="control-label"></label>
            <input asp-for="DateOfBirth" type="text" class="form-control" id="dateOfBirth" />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Sex" class="control-label"></label>
            <select asp-for="Sex" asp-items="Html.GetEnumSelectList<Globals.Sex>()" class="form-control familyMemberSelect2"
                    data-theme="bootstrap"
                    data-language="pt-BR" 
                    data-placeholder="Gênero" 
                    data-minimum-results-for-search="Infinity" 
                    data-container-css-class="select2NoSearch"></select>
            <span asp-validation-for="Sex" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="MonthlyIncome" class="control-label"></label>
            <input asp-for="MonthlyIncome" class="form-control" />
            <span asp-validation-for="MonthlyIncome" class="text-danger"></span>
        </div>
    </div>

    <partial name="_ModalFooter"  />

</form>
