@model RVCC.Models.SearchModel.FamilyMemberSearchModel

<div class="card">
    <div class="card-header" data-toggle="collapse" data-target="#familyMemberCollapse" aria-expanded="true">
        <span class="fa fa-child"></span>Membros Familiares

        <div class="card-header-actions">
            <a class="card-header-action btn-minimize" href="#">
                <span class="fa fa-minus"></span>
            </a>
        </div>
    </div>

    <div class="card-body collapse" id="familyMemberCollapse">

        <div class="row">
            <div class="col-lg-4">
                <strong>Renda do Paciente:</strong>
                <span id="monthlyIncome"></span>
            </div>
            <div class="col-lg-4">
                <strong>Renda Familiar Total:</strong>
                <span id="familyIncome"></span>
            </div>
            <div class="col-lg-4">
                <strong>Renda Per Capita:</strong>
                <span id="perCapitaIncome"></span>
            </div>
        </div>

        <hr />

        <div class="form-inline float-right">
            <a id="addFamilyMemberButton" asp-action="AddFamilyMember" asp-controller="FamilyMember" asp-route-id="@Model.PatientId" data-title="Adicionar Membro Familiar" class="btn btn-primary"
               data-toggle="modal" data-target="#modal-action">
                <span class="fa fa-plus"></span> Adicionar Membro Familiar
            </a>
        </div>

        <table class="table table-bordered table-striped text-center" id="familyMemberTable" aria-describedby="Tabela de membros familiares e amigos"></table>
    </div>
</div>
