@model LigaCancer.Models.FormViewModel.DeletePresenceViewModel

<form asp-action="DeletePresence"
      role="form"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-failure="Error"
      data-ajax-success="Success"
      data-ajax-loading="#submitSpinner">

    <partial name="_ModalHeader" model='new ModalHeader { Heading = "Apagar Presença" }' />

    <div class="modal-body form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        Deseja apagar a presença do paciente <strong>@Model.Name</strong> na data <strong>@Model.Date.ToShortDateString()</strong>?
    </div>

    <partial name="_ModalFooter" model='new ModalFooter { SubmitButtonText = "Apagar"}' />

</form>