@model LigaCancer.Models.SearchModel.PresenceSearchModel
@using LigaCancer.Code
@{
    ViewData["Title"] = "Presenças";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
<environment names="Development">
    <link href="~/lib/datatables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/lib/select2/theme/select2-bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/gijgo/combined/css/gijgo.min.css" rel="stylesheet" />
    <link href="~/lib/datatables-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" />
</environment>
    <environment exclude="Development">
        <link href="~/dist/css/presence.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
}

<main class="main">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item">
            Presenças
        </li>
    </ol>
    <div class="container-fluid">
        <div id="ui-view" style="opacity: 1;">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <i class="fas fa-filter"></i> Filtros
                                <div class="card-header-actions">
                                    <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#filterCollapse" aria-expanded="true">
                                        <i class="fa fa-minus"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-block collapse show" id="filterCollapse">
                                <form id="searchForm">
                                    <div class="form-row form-group">
                                        <div class="col-lg-3">
                                            <label asp-for="Name"></label>
                                            <input asp-for="Name" class="form-control" />
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                        <div class="col-lg-3">
                                            <label asp-for="Surname"></label>
                                            <input asp-for="Surname" class="form-control" />
                                            <span asp-validation-for="Surname" class="text-danger"></span>
                                        </div>
                                        <div class="col-lg-3">
                                            <label asp-for="DateFrom"></label>
                                            <input asp-for="DateFrom" type="text" class="form-control date" />
                                            <span asp-validation-for="DateFrom" class="text-danger"></span>
                                        </div>
                                        <div class="col-lg-3">
                                            <label asp-for="DateTo"></label>
                                            <input asp-for="DateTo" type="text" class="form-control date" />
                                            <span asp-validation-for="DateTo" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-inline float-right">
                                        <div class="form-group">
                                            <div class="btn-group">
                                                <button type="submit" class="btn btn-primary">
                                                    <i class="fas fa-filter"></i> Filtrar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <i class="fas fa-address-book"></i> Presenças
                            </div>
                            <div class="card-block">
                                <div class="form-inline float-right">
                                    <a id="addPresenceButton" asp-action="AddPresence" data-toggle="modal" data-target="#modal-action" class="btn btn-primary">
                                        <i class="fa fa-plus"></i> Adicionar Presença
                                    </a>
                                </div>

                                <table class="table table-bordered table-striped table-condensed text-center" id="presenceTable"></table>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!--/col-->

            </div>
            <!--/row-->

        </div>
    </div>
    <!-- /.conainer-fluid -->
</main>

<partial name="_Modal"  />

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <environment names="Development">
        <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
        <script src="~/lib/datatables/js/dataTables.bootstrap4.min.js"></script>
        <script src="~/lib/select2/js/select2.min.js"></script>
        <script src="~/lib/gijgo/combined/js/gijgo.min.js"></script>
        <script src="~/lib/datatables-buttons/js/dataTables.buttons.min.js"></script>
        <script src="~/lib/datatables-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
        <script src="~/lib/jszip/jszip.min.js"></script>
        <script src="~/lib/pdfmake/pdfmake.min.js"></script>
        <script src="~/lib/pdfmake/vfs_fonts.js"></script>
        <script src="~/lib/datatables-buttons/js/buttons.html5.min.js"></script>
        <script src="~/js/presence.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/dist/js/presence.min.js" asp-append-version="true"></script>
    </environment>
}