@{
    ViewData["Title"] = "500";
}

<main class="main">
    <div class="container-fluid" style="display: flex; justify-content: center; align-items: center; height: 100%;">
        <div class="row justify-content-center" style="width: 57%;">
            <div class="col-md-6">
                <div class="clearfix">
                    <h1 class="float-left display-3 mr-4">500</h1>
                    <h4 class="pt-3">Oops! Nós temos um problema!</h4>
                    <p class="text-muted">A página que você está procurando está temporariamente indisponível.</p>
                </div>
            </div>
        </div>
    </div>
</main>