@{
    ViewData["Title"] = "500";
}

<div class="col-md-5">
    <div class="clearfix">
        <h1 class="float-left display-3 mr-4">500</h1>
        <h4 class="pt-3">Oops! Nós temos um problema!</h4>
        <p class="text-muted">A página que você está procurando está temporariamente indisponível.</p>
    </div>
</div>
