@model RVCC.Models.FormModel.VisitorFormModel

<form id="addVisitorForm" asp-action="AddVisitor" method="post">

    <div class="modal-body form-horizontal">
        <partial name="Partials/_FormVisitor" />
    </div>

    <partial name="_ModalFooter"  />

</form>
