@model RVCC.Models.SearchModel.PatientExpenseTypeSearchModel

<div class="card">
    <div class="card-header" data-toggle="collapse" data-target="#patientExpenseTypeCollapse" aria-expanded="true">
        <span class="fa fa-child"></span>Estudo Sócio Economico

        <div class="card-header-actions">
            <a class="card-header-action btn-minimize" href="#">
                <span class="fa fa-minus"></span>
            </a>
        </div>
    </div>

    <div class="card-body collapse" id="patientExpenseTypeCollapse">
        <div class="form-inline float-right">
            <a id="addPatientExpenseTypeButton" asp-action="AddPatientExpenseType" asp-controller="PatientExpenseType" asp-route-id="@Model.PatientId" data-title="Adicionar Membro Familiar" class="btn btn-primary"
               data-toggle="modal" data-target="#modal-action">
                <span class="fa fa-plus"></span> Adicionar Despesa
            </a>
        </div>

        <table class="table table-bordered table-striped text-center" id="patientExpenseTypeTable" aria-describedby="Tabela de despesas"></table>
    </div>
</div>
