@model RVCC.Models.FormModel.AttendanceTypeFormModel

<form id="addAttendanceTypeForm" asp-action="AddAttendanceType" method="post" >

    <div class="modal-body form-horizontal">
        <partial name="Partials/_FormAttendanceType" />
    </div>

    <partial name="_ModalFooter"  />
</form>
