@using RVCC.Business
@model RVCC.Models.FormModel.AddressFormModel

<form id="editAddressForm" asp-action="EditAddress" method="post" >

    <div class="modal-body form-horizontal" id="">
        <div class="form-group">
            <label asp-for="Street" class="control-label"></label>
            <input asp-for="Street" class="form-control" />
            <span asp-validation-for="Street" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Neighborhood" class="control-label"></label>
            <input asp-for="Neighborhood" class="form-control" />
            <span asp-validation-for="Neighborhood" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="City" class="control-label"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="HouseNumber" class="control-label"></label>
            <input asp-for="HouseNumber" class="form-control" />
            <span asp-validation-for="HouseNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Complement" class="control-label"></label>
            <input asp-for="Complement" class="form-control" />
            <span asp-validation-for="Complement" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ResidenceType" class="control-label"></label>
            <select asp-for="ResidenceType" asp-items="Html.GetEnumSelectList<Globals.ResidenceType>()" class="form-control">
                <option value=""></option>
            </select>
            <span asp-validation-for="ResidenceType" class="text-danger"></span>
        </div>
        <div class="form-group" id="monthlyResidence" style="@(Model.ResidenceType == null ? "display: none;" : "")">
            <label asp-for="MonthlyAmmountResidence" class="control-label"></label>
            <input asp-for="MonthlyAmmountResidence" class="form-control" />
            <span asp-validation-for="MonthlyAmmountResidence" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ObservationAddress" class="control-label"></label>
            <input asp-for="ObservationAddress" class="form-control" />
            <span asp-validation-for="ObservationAddress" class="text-danger"></span>
        </div>
    </div>

    <partial name="_ModalFooter" />

</form>
