@model RVCC.Models.SearchModel.AddressSearchModel

<div class="card">
    <div class="card-header">
        <i class="fa fa-male"></i>Endereços
    </div>
    <div class="card-body">
        <input asp-for="PatientId" id="addressPatientId" />
        <div class="form-inline float-right">
            <a id="addAddressButton" asp-action="AddAddress" asp-controller="Address" asp-route-id="@Model.PatientId" data-title="Adicionar Endereço" class="btn btn-primary"
               data-toggle="modal" data-target="#modal-action-secondary">
                <i class="fa fa-plus"></i> Adicionar Endereço
            </a>
        </div>

        <table class="table table-bordered table-striped text-center" id="addressTable"></table>
    </div>
</div>
