@model RVCC.Models.FormModel.ExpenseTypeFormModel

<form id="addExpenseTypeForm" asp-action="AddExpenseType" method="post" >

    <div class="modal-body form-horizontal">
        <partial name="Partials/_FormExpenseType" />
    </div>

    <partial name="_ModalFooter"  />
</form>
