@model RVCC.Models.FormModel.DoctorFormModel

<form id="addDoctorForm" asp-action="AddDoctor" method="post">

    <div class="modal-body form-horizontal">
        <partial name="Partials/_FormDoctor" />
    </div>

    <partial name="_ModalFooter"  />

</form>
