@model LigaCancer.Models.FormModel.DoctorFormModel

<form id="editDoctorForm" asp-action="EditDoctor"
      role="form"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-failure="Error"
      data-ajax-success="EditSuccess"
      data-ajax-loading="#submitSpinner">

    <div class="modal-body form-horizontal">
        <h4>Médico</h4>
        <hr />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CRM" class="control-label"></label>
            <input asp-for="CRM" class="form-control" />
            <span asp-validation-for="CRM" class="text-danger"></span>
        </div>
        <input asp-for="DoctorId" />
    </div>

    <partial name="_ModalFooter"  />

</form>
