@model RVCC.Models.FormModel.DoctorFormModel

<form id="editDoctorForm" asp-action="EditDoctor"
      role="form"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-failure="error"
      data-ajax-success="editSuccess"
      data-ajax-loading="#submitSpinner">

    <div class="modal-body form-horizontal">
        <partial name="Partials/_FormDoctor" />
    </div>

    <partial name="_ModalFooter"  />

</form>
