@using RVCC.Business
@model RVCC.Models.SearchModel.FileAttachmentSearchModel

<div class="modal-body">
    <input asp-for="PatientId" />
    @if (!User.IsInRole(Roles.SocialAssistance))
    {
        <form asp-action="FileUpload" class="dropzone" method="post" id="dropzoneForm" enctype="multipart/form-data"></form>
    }

</div>

<div class="modal-footer">
    <button id="btn-cancel" type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
</div>
