@model RVCC.Models.SearchModel.FileAttachmentSearchModel

<div class="modal-body">
    <input asp-for="PatientId" />

    <form asp-action="FileUpload" class="dropzone" method="post" id="dropzoneForm" enctype="multipart/form-data"></form>

    <table id="attachmentsTable" class="table table-bordered table-striped text-center"></table>

</div>

<div class="modal-footer">
    <button id="btn-cancel" type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
</div>
