@model RVCC.Models.SearchModel.FileAttachmentSearchModel

<div class="card">
    <div class="card-header" data-toggle="collapse" data-target="#filesCollapse" aria-expanded="true">
        <span class="fa fa-male"></span>Arquivos

        <div class="card-header-actions">
            <a class="card-header-action btn-minimize" href="#">
                <span class="fa fa-minus"></span>
            </a>
        </div>

    </div>

    <div class="card-body collapse" id="filesCollapse">
        <div class="form-inline float-right">
            <a id="addFileButton" asp-action="FileUpload" asp-controller="FileAttachment" asp-route-id="@Model.PatientId" data-title="Adicionar Arquivos" class="btn btn-primary"
               data-toggle="modal" data-target="#modal-action">
                <span class="fa fa-plus"></span> Adicionar Arquivos
            </a>
        </div>

        <table width="100%" class="table table-bordered table-striped text-center" id="attachmentsTable"></table>
    </div>
</div>
