@model RVCC.Models.SearchModel.FileAttachmentSearchModel

<div class="card">
    <div class="card-header">
        <i class="fa fa-male"></i>Arquivos

        <div class="card-header-actions">
            <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#filesCollapse" aria-expanded="true">
                <i class="fa fa-minus"></i>
            </a>
        </div>

    </div>

    <div class="card-body collapse" id="filesCollapse">
        <input asp-for="PatientId" id="archivePatientId" />

        <div class="form-inline float-right">
            <a id="addFileButton" asp-action="FileUpload" asp-controller="FileAttachment" asp-route-id="@Model.PatientId" data-title="Adicionar Arquivos" class="btn btn-primary"
               data-toggle="modal" data-target="#modal-action">
                <i class="fa fa-plus"></i> Adicionar Arquivos
            </a>
        </div>

        <table class="table table-bordered table-striped text-center" id="attachmentsTable"></table>
    </div>
</div>
