@model RVCC.Models.FormModel.BenefitFormModel

<form id="addBenefitForm" asp-action="AddBenefit" method="post">

    <div class="modal-body">
        <partial name="Partials/_FormBenefit" />
    </div>

    <partial name="_ModalFooter" />

</form>
