<div class="card">
    <div class="card-header">
        <i class="fa fa-male"></i>Estadias

        <div class="card-header-actions">
            <a class="card-header-action btn-minimize" href="#" data-toggle="collapse" data-target="#stayCollapse" aria-expanded="true">
                <i class="fa fa-minus"></i>
            </a>
        </div>
    </div>

    <div class="card-body collapse" id="stayCollapse">
        <table width="100%" class="table table-bordered table-striped text-center" id="stayTable"></table>
    </div>
</div>
