<div class="card">
    <div class="card-header" data-toggle="collapse" data-target="#stayCollapse" aria-expanded="true">
        <span class="fa fa-hotel"></span>Estadias

        <div class="card-header-actions">
            <a class="card-header-action btn-minimize" href="#">
                <span class="fa fa-minus"></span>
            </a>
        </div>
    </div>

    <div class="card-body collapse" id="stayCollapse">
        <table class="table table-bordered table-striped text-center" id="stayTable" aria-describedby="Lista de estadias realizadas pelo paciente"></table>
    </div>
</div>
