@page
@model ConfirmEmailModel
@{
    Layout = "_LayoutBase";
    ViewData["Title"] = "Confirmação de email";
}

<div class="col-8">
    <div class="card-group">
        <div class="card p-4">
            <h1>@ViewData["Title"]</h1>
            <p>
                Obrigado por confirmar seu email. <a asp-page="./Login">Clique aqui para entrar</a>.
            </p>
        </div>
    </div>
</div>