@page
@model ForgotPasswordModel
@{
    Layout = "_LayoutBase";
    ViewData["Title"] = "Esqueceu sua senha?";
}

<div class="col-md-6">
    <div class="card-group">
        <div class="card p-4">
            <form method="post">
                <div class="card-body">
                    <h1 class="mb-3">Esqueceu sua senha?</h1>
                    <h4 class="mb-3">Digite seu email.</h4>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                            <input asp-for="ForgotPassword.Email" type="email" class="form-control" placeholder="Email">
                        </div>
                        <span asp-validation-for="ForgotPassword.Email" class="text-danger ml-5"></span>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary float-right">Enviar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
