@page
@model ForgotPasswordModel
@{
    Layout = "_LayoutBase";
    ViewData["Title"] = "Esqueceu sua senha?";
}

@section styles {
    <environment names="Development">
        <link href="~/dist/css/forgot-password.bundle.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/dist/css/forgot-password.bundle.css" asp-append-version="true" rel="stylesheet" />
    </environment>
}

<div class="col-md-6">
    <div class="card-group">
        <div class="card p-4">
            <form id="forgotPasswordForm" method="post">
                <div class="card-body">
                    <h1 class="mb-3">Esqueceu sua senha?</h1>
                    <h4 class="mb-3">Digite seu email.</h4>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <span class="fa fa-user"></span>
                                </span>
                            </div>
                            <input asp-for="ForgotPassword.Email" type="email" class="form-control" placeholder="Email">
                        </div>
                        <span asp-validation-for="ForgotPassword.Email" class="text-danger ml-5"></span>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary float-right">
                                Enviar
                                <span id="submitSpinner" class="fa fa-spinner fa-pulse" style="display: none;"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <environment names="Development">
        <script src="~/dist/js/forgot-password.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/dist/js/forgot-password.bundle.js" asp-append-version="true"></script>
    </environment>
}
