@page
@model ForgotPasswordConfirmation
@{
    Layout = "_LayoutBaseAdmin";
    ViewData["Title"] = "Confirmação esqueci minha senha";
}

<div class="col-8">
    <div class="card-group">
        <div class="card p-4">
            <h1>@ViewData["Title"]</h1>
            <p>
                Verifique seu email para redefinir sua senha. <a asp-page="./Login">Clique aqui para entrar</a>.
            </p>
        </div>
    </div>
</div>