@page
@model ResendConfirmEmailConfirmationModel
@{
    Layout = "_LayoutBaseAdmin";
    ViewData["Title"] = "Confirmação de reenvio de email de verificação";
}

<div class="col-8">
    <div class="card-group">
        <div class="card p-4">
            <h1>@ViewData["Title"]</h1>
            <p>
                Email de verificação reenviado. Confirme sua conta para obter acesso ao sistema.
            </p>
        </div>
    </div>
</div>


