@page
@model ResetPasswordConfirmationModel
@{
    Layout = "_LayoutBase";
    ViewData["Title"] = "Confirmação de redefinição de senha";
}

<div class="col-8">
    <div class="card-group">
        <div class="card p-4">
            <h1>@ViewData["Title"]</h1>
            <p>
                Sua senha foi redefinida. <a asp-page="./Login">Clique aqui para entrar</a>.
            </p>
        </div>
    </div>
</div>


