@model RVCC.Models.FormModel.TreatmentTypeFormModel

<form id="addTreatmentTypeForm" asp-action="AddTreatmentType" method="post" >

    <div class="modal-body form-horizontal">
        <partial name="Partials/_FormTreatmentType" />
    </div>

    <partial name="_ModalFooter"  />
</form>
