@model RVCC.Models.FormModel.TreatmentTypeFormModel

<form id="editTreatmentTypeForm" asp-action="EditTreatmentType" method="post" >
    
    <div class="modal-body form-horizontal">
        <partial name="Partials/_FormTreatmentType" />
    </div>

    <partial name="_ModalFooter"  />

</form>
