.modal-spinner {
    text-align: center;
    margin: 100px;
    font-size: 50px;
    color: #20a8d8;
}


.dt-buttons button {
    margin-right: 5px;
    border-radius: 0.25em !important;
}

.label-required:after {
    content: "*";
    color: red;
}

.export-buttons {
    position: absolute;
    left: 280px;
    top: 67px;
}

.filter-button {
    margin-top: 28px;
}

#modal-action-secondary {
    z-index: 1060;
}

.modal-elg {
    max-width: 80vw;
}

.datepicker {
    z-index: 1070 !important;
}

.select2NoSearch {
    height: 39px !important;
}