<!DOCTYPE html>

<html lang="pt-br">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta NAME="robots" CONTENT="noindex,nofollow">
    <title>@ViewData["Title"] | Rede Videirense de Combate ao Câncer</title>

    <environment names="Development">
        <link href="~/css/fontawesome.min.css" rel="stylesheet" />
        <link href="~/css/style.css" rel="stylesheet" />
        <link href="~/css/custom.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/dist/css/main.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            @RenderBody()
        </div>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/js/coreui.min.js"></script>
        <script src="~/lib/popper/umd/popper.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>
        <script src="~/js/main.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/dist/js/main.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)

</body>
</html>