<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>@ViewData["Title"] - Liga Videirense de Combate ao Câncer</title>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="~/lib/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

    <header class="app-header navbar">
        <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <img class="navbar-brand-full" src="~/images/brand/logo.svg" width="89" height="25" alt="CoreUI Logo">
            <img class="navbar-brand-minimized" src="~/images/brand/sygnet.svg" width="30" height="30" alt="CoreUI Logo">
        </a>
        <button class="navbar-toggler sidebar-minimizer d-md-down-none" type="button" data-toggle="sidebar-lg-show">
            <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="nav navbar-nav ml-auto"></ul>
    </header>
    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                            <i class="nav-icon fas fa-tachometer-alt"></i> Home
                        </a>
                    </li>
                    <li class="nav-title">Pacientes</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fa fa-child"></i> Pacientes
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fa fa-clipboard-list"></i> Presença
                        </a>
                    </li>
                    <li class="nav-title">Benefícios</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fa fa-gift"></i> Benefícios
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fa fa-clipboard"></i> Tipos de Benefícios
                        </a>
                    </li>
                    <li class="nav-title">Informações Médicas</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fa fa-capsules"></i> Remédios
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fa fa-notes-medical"></i> Tipos de Câncer
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fa fa-hospital-alt"></i> Locais de tratamento
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/doctor">
                            <i class="nav-icon fa fa-user-md"></i> Médicos
                        </a>
                    </li>
                    <li class="nav-title">Relatórios</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fa fa-file-medical"></i> Relatórios
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fa fa-file-medical-alt"></i> Relatórios Pessoais
                        </a>
                    </li>
                    <li class="nav-title">Usuários</li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="nav-icon fa fa-users"></i> Usuários
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        @RenderBody()

    </div>
    <footer class="app-footer">
        <div class="ml-auto">
            <span>Desenvolvido por</span>
            <a href="https://github.com/felipepergher" target="_blank">Felipe Pergher</a>
        </div>
    </footer>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/core-ui/coreui.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
