<!DOCTYPE html>

<html lang="pt-br">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] | Rede Videirense de combate ao Câncer</title>
</head>
<body>
    @RenderBody()
</body>
</html>