<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-142367311-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-142367311-1');
    </script>

    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] | Rede Videirense de combate ao Câncer</title>

    @* Seo Tags *@
    <meta name="description" content="Rede Videirense de Combate ao Câncer é uma instituição privada para auxílio de pessoas com câncer.">
    <meta name="keywords" content="câncer, videira, auxílio, saúde">
    <meta name="robots" content="">
    <meta name="revisit-after" content="1 day">
    <meta name="language" content="Portuguese">
    @* OG Properties *@
    <meta property="og:title" content="HomePage" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://rvcc.com.br" />
    <meta property="og:image" content="~/img/logo.jpg" />
    <meta property="og:description" content="Rede Videirense de Combate ao Câncer é uma instituição privada para auxílio de pessoas com câncer." />
    <meta property="og:locale" content="pt-br" />
    <meta property="og:site_name" content="Rede Videirense de combate ao Câncer" />

    <environment names="Development">
        <!-- Bootstrap CSS -->
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <!-- Font -->
        <link href="~/css/fontawesome.min.css" rel="stylesheet" />
        <!-- Slicknav -->
        <link href="~/css/cms/slicknav.css" rel="stylesheet" />
        <!-- Animate -->
        <link href="~/css/cms/animate.css" rel="stylesheet" />
        <!-- Main Style -->
        <link href="~/css/cms/main.css" rel="stylesheet" />
        <!-- Extras Style -->
        <link href="~/css/cms/extras.css" rel="stylesheet" />
        <!-- Responsive Style -->
        <link href="~/css/cms/responsive.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/dist/css/homepage.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>

</head>
<body>
    @RenderBody()

    <environment names="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/popper/umd/popper.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/js/cms/jquery.nav.js"></script>
        <script src="~/js/cms/jquery.slicknav.js"></script>
        <script src="~/js/cms/main.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/dist/js/homepage.min.js" asp-append-version="true"></script>
    </environment>
</body>
</html>