@using RVCC.Business
<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - RVCC</title>

    <environment names="Development">
        <link href="~/dist/css/common.bundle.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/dist/css/common.bundle.css" rel="stylesheet" asp-append-version="true" />
    </environment>

    @RenderSection("styles", required: false)
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

    <header class="app-header navbar">

        <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button class="navbar-toggler sidebar-minimizer d-md-down-none" type="button" data-toggle="sidebar-lg-show">
            <span class="navbar-toggler-icon"></span>
        </button>

        <partial name="_LoginPartial" />

    </header>
    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Home">
                            <img class="img-logo" src="~/img/logo/logo-oficial.png" alt="RVCC Logo">
                        </a>
                    </li>

                    <li class="nav-title">Pacientes</li>
                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Patient" class="nav-link">
                            <span class="nav-icon fa fa-person"></span> Pacientes
                        </a>
                    </li>

                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Birthday" class="nav-link">
                            <span class="nav-icon far fa-calendar-days"></span> Aniversariantes
                        </a>
                    </li>

                    <li class="nav-item">
                        <a asp-action="Index" asp-controller="Presence" class="nav-link">
                            <span class="nav-icon far fa-address-book"></span> Presenças
                        </a>
                    </li>

                    @if (!User.IsInRole(Roles.SocialAssistance))
                    {
                        <li class="nav-title">Benefícios</li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="PatientBenefit" class="nav-link">
                                <span class="nav-icon fa fa-gift"></span> Benefícios
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Benefit" class="nav-link">
                                <span class="nav-icon fa fa-clipboard"></span> Tipos de Benefícios
                            </a>
                        </li>

                        <li class="nav-title">Estadias</li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Stay" class="nav-link">
                                <span class="nav-icon fa fa-hotel"></span> Estadias
                            </a>
                        </li>

                        <li class="nav-title">Informações Médicas</li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Medicine" class="nav-link">
                                <span class="nav-icon fa fa-capsules"></span> Remédios
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="CancerType" class="nav-link">
                                <span class="nav-icon fa fa-notes-medical"></span> Cânceres
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="TreatmentPlace" class="nav-link">
                                <span class="nav-icon fa fa-hospital-alt"></span> Locais de tratamento
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Doctor" class="nav-link">
                                <span class="nav-icon fa fa-user-md"></span> Médicos
                            </a>
                        </li>
                    }

                    @if (User.IsInRole(Roles.Admin))
                    {
                        @*<li class="nav-title">Relatórios</li>
                            <li class="nav-item">
                            <a class="nav-link" href="#">
                            <span class="nav-icon fa fa-file-medical"></span> Relatórios
                            </a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="#">
                            <span class="nav-icon fa fa-file-medical-alt"></span> Relatórios Pessoais
                            </a>
                            </li> *@

                        <li class="nav-title">Administrativo</li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="User" class="nav-link">
                                <span class="nav-icon fa fa-users"></span> Usuários
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Admin" class="nav-link">
                                <span class="nav-icon fa fa-cog"></span> Admin
                            </a>
                        </li>
                    }

                    @if (!User.IsInRole(Roles.SocialAssistance))
                    {
                        <li class="nav-title">Camisetas</li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="SaleShirt2020" class="nav-link">
                                <span class="nav-icon fa fa-shirt"></span> Camisetas 2020
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>

        @RenderBody()
    </div>

    <footer class="app-footer">
        <div class="ml-auto">
            <span>Desenvolvido por</span>
            <a href="https://doffs.com.br" target="_blank" rel="noopener">Doffs</a>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/dist/js/vendors.bundle.js"></script>
        <script src="~/dist/js/common.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/dist/js/vendors.bundle.js" asp-append-version="true"></script>
        <script src="~/dist/js/common.bundle.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>

</html>
