<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
            var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TN74QLM');</script>
    <!-- End Google Tag Manager -->
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] | Rede Videirense de combate ao Câncer</title>

    @* Seo Tags *@
    <meta name="description" content="Rede Videirense de Combate ao Câncer é uma instituição privada para auxílio de pessoas com câncer.">
    <meta name="keywords" content="câncer, videira, auxílio, saúde">
    <meta name="robots" content="">
    <meta name="revisit-after" content="1 day">
    <meta name="language" content="Portuguese">
    @* OG Properties *@
    <meta property="og:title" content="HomePage" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://rvcc.com.br" />
    <meta property="og:image" content="~/img/logo.jpg" />
    <meta property="og:description" content="Rede Videirense de Combate ao Câncer é uma instituição privada para auxílio de pessoas com câncer." />
    <meta property="og:locale" content="pt-br" />
    <meta property="og:site_name" content="Rede Videirense de combate ao Câncer" />

    <environment names="Development">
        <!-- Bootstrap CSS -->
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
        <!-- Font -->
        <link href="~/css/fontawesome.min.css" rel="stylesheet" />
        <!-- Slicknav -->
        <link href="~/css/cms/slicknav.css" rel="stylesheet" />
        <!-- Animate -->
        <link href="~/css/cms/animate.css" rel="stylesheet" />
        <!-- Main Style -->
        <link href="~/css/cms/main.css" rel="stylesheet" />
        <!-- Extras Style -->
        <link href="~/css/cms/extras.css" rel="stylesheet" />
        <!-- Responsive Style -->
        <link href="~/css/cms/responsive.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/dist/css/homepage.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TN74QLM" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    @RenderBody()

    <environment names="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/popper/umd/popper.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/js/cms/jquery.nav.js"></script>
        <script src="~/js/cms/jquery.slicknav.js"></script>
        <script src="~/js/cms/main.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/dist/js/homepage.min.js" asp-append-version="true"></script>
    </environment>
</body>
</html>