@using Microsoft.AspNetCore.Identity
@using LigaCancer.Data.Models
@using LigaCancer.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav ml-auto mr-4">
        <li class="nav-item dropdown">
            <a class="nav-link nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-user"> @User.Identity.Name</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a asp-action="Logout" asp-controller="Account" class="dropdown-item">
                    <i class="fa fa-lock"></i> Logout
                </a>
            </div>
        </li>
    </ul>

}
